body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1749px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:600px;
}
#u10352 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:370px;
  width:338px;
  height:600px;
}
#u10352_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10353_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u10353 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:370px;
  width:181px;
  height:105px;
  line-height:20px;
}
#u10353_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  white-space:nowrap;
}
#u10354_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u10354 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:1447px;
  width:307px;
  height:100px;
  line-height:20px;
}
#u10354_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  white-space:nowrap;
}
#u10355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:601px;
}
#u10355 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1055px;
  width:338px;
  height:601px;
}
#u10355_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10356 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:1386px;
  width:0px;
  height:0px;
}
#u10356_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:263px;
  height:8px;
}
#u10356_seg1 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:-12px;
  width:24px;
  height:24px;
}
#u10356_text {
  border-width:0px;
  position:absolute;
  left:80px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10357_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:601px;
}
#u10357 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:1055px;
  width:338px;
  height:601px;
}
#u10357_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:601px;
}
#u10358 {
  border-width:0px;
  position:absolute;
  left:1183px;
  top:1047px;
  width:338px;
  height:601px;
}
#u10358_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10359_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:601px;
}
#u10359 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:370px;
  width:338px;
  height:601px;
}
#u10359_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10360 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:528px;
  width:0px;
  height:0px;
}
#u10360_seg0 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:-4px;
  width:6px;
  height:8px;
}
#u10360_seg1 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-196px;
  width:8px;
  height:200px;
}
#u10360_seg2 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-196px;
  width:646px;
  height:8px;
}
#u10360_seg3 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:-196px;
  width:8px;
  height:70px;
}
#u10360_seg4 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:-146px;
  width:24px;
  height:24px;
}
#u10360_text {
  border-width:0px;
  position:absolute;
  left:207px;
  top:-200px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10361 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:1283px;
  width:0px;
  height:0px;
}
#u10361_seg0 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-4px;
  width:113px;
  height:8px;
}
#u10361_seg1 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:-663px;
  width:8px;
  height:667px;
}
#u10361_seg2 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:-663px;
  width:100px;
  height:8px;
}
#u10361_seg3 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:-663px;
  width:8px;
  height:24px;
}
#u10361_seg4 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:-659px;
  width:24px;
  height:24px;
}
#u10361_text {
  border-width:0px;
  position:absolute;
  left:58px;
  top:-339px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10362 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:1138px;
  width:0px;
  height:0px;
}
#u10362_seg0 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-4px;
  width:14px;
  height:8px;
}
#u10362_seg1 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-145px;
  width:8px;
  height:149px;
}
#u10362_seg2 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-145px;
  width:334px;
  height:8px;
}
#u10362_seg3 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:-145px;
  width:8px;
  height:54px;
}
#u10362_seg4 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:-111px;
  width:24px;
  height:24px;
}
#u10362_text {
  border-width:0px;
  position:absolute;
  left:72px;
  top:-149px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10363_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u10363 {
  border-width:0px;
  position:absolute;
  left:1054px;
  top:536px;
  width:195px;
  height:20px;
  line-height:20px;
}
#u10363_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  white-space:nowrap;
}
#u10364_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u10364 {
  border-width:0px;
  position:absolute;
  left:1543px;
  top:1114px;
  width:167px;
  height:20px;
  line-height:20px;
}
#u10364_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u10365_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u10365 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:352px;
  width:30px;
  height:30px;
}
#u10365_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u10366_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u10366 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:352px;
  width:30px;
  height:30px;
}
#u10366_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u10367_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u10367 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:1025px;
  width:30px;
  height:30px;
}
#u10367_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u10368_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u10368 {
  border-width:0px;
  position:absolute;
  left:794px;
  top:1025px;
  width:30px;
  height:30px;
}
#u10368_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u10369_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:40px;
}
#u10369 {
  border-width:0px;
  position:absolute;
  left:1385px;
  top:1017px;
  width:30px;
  height:30px;
}
#u10369_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u10370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u10370 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:200px;
  width:225px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u10370_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u10371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u10371 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1001px;
  width:130px;
  height:19px;
  font-size:16px;
}
#u10371_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u10372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u10372 {
  border-width:0px;
  position:absolute;
  left:1372px;
  top:224px;
  width:113px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u10372_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u10373_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10373 {
  border-width:0px;
  position:absolute;
  left:1372px;
  top:302px;
  width:291px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10373_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  word-wrap:break-word;
}
#u10374 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10375 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10376_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:139px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#4ED1C9;
}
#u10376 {
  border-width:0px;
  position:absolute;
  left:1397px;
  top:449px;
  width:330px;
  height:139px;
  color:#4ED1C9;
}
#u10376_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10377 {
  border-width:0px;
  position:absolute;
  left:1410px;
  top:528px;
  width:339px;
  height:19px;
}
#u10377_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:321px;
  word-wrap:break-word;
}
#u10377_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u10378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u10378 {
  border-width:0px;
  position:absolute;
  left:1410px;
  top:478px;
  width:12px;
  height:12px;
}
#u10378_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:2px;
}
#u10379 {
  border-width:0px;
  position:absolute;
  left:1397px;
  top:510px;
  width:330px;
  height:1px;
}
#u10379_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10380_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u10380 {
  border-width:0px;
  position:absolute;
  left:1432px;
  top:476px;
  width:71px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u10380_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u10381_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u10381 {
  border-width:0px;
  position:absolute;
  left:1397px;
  top:340px;
  width:172px;
  height:16px;
  color:#AEAEAE;
}
#u10381_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  white-space:nowrap;
}
#u10382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10382 {
  border-width:0px;
  position:absolute;
  left:1372px;
  top:379px;
  width:291px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10382_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  word-wrap:break-word;
}
#u10383 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10384 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10385_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:198px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#4ED1C9;
}
#u10385 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:720px;
  width:330px;
  height:198px;
  color:#4ED1C9;
}
#u10385_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10386_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u10386 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:764px;
  width:311px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u10386_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  word-wrap:break-word;
}
#u10387 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:741px;
  width:311px;
  height:19px;
}
#u10387_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:293px;
  word-wrap:break-word;
}
#u10387_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u10388_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u10388 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:832px;
  width:311px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u10388_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  word-wrap:break-word;
}
#u10389 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:809px;
  width:311px;
  height:19px;
}
#u10389_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:293px;
  word-wrap:break-word;
}
#u10389_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u10390 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:875px;
  width:339px;
  height:19px;
}
#u10390_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:321px;
  word-wrap:break-word;
}
#u10390_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u10391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:2px;
}
#u10391 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:789px;
  width:330px;
  height:1px;
}
#u10391_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:2px;
}
#u10392 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:857px;
  width:330px;
  height:1px;
}
#u10392_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10393_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u10393 {
  border-width:0px;
  position:absolute;
  left:1397px;
  top:411px;
  width:141px;
  height:16px;
  color:#AEAEAE;
}
#u10393_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u10394_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10394 {
  border-width:0px;
  position:absolute;
  left:1372px;
  top:617px;
  width:291px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10394_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  word-wrap:break-word;
}
#u10395_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u10395 {
  border-width:0px;
  position:absolute;
  left:1397px;
  top:656px;
  width:127px;
  height:16px;
  color:#AEAEAE;
}
#u10395_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u10396 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10397 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10398_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:198px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#4ED1C9;
}
#u10398 {
  border-width:0px;
  position:absolute;
  left:1397px;
  top:768px;
  width:330px;
  height:198px;
  color:#4ED1C9;
}
#u10398_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10399_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u10399 {
  border-width:0px;
  position:absolute;
  left:1427px;
  top:812px;
  width:311px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u10399_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  word-wrap:break-word;
}
#u10400 {
  border-width:0px;
  position:absolute;
  left:1410px;
  top:789px;
  width:311px;
  height:19px;
}
#u10400_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:293px;
  word-wrap:break-word;
}
#u10400_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u10401_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u10401 {
  border-width:0px;
  position:absolute;
  left:1427px;
  top:880px;
  width:311px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u10401_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  word-wrap:break-word;
}
#u10402 {
  border-width:0px;
  position:absolute;
  left:1410px;
  top:857px;
  width:311px;
  height:19px;
}
#u10402_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:293px;
  word-wrap:break-word;
}
#u10402_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u10403 {
  border-width:0px;
  position:absolute;
  left:1410px;
  top:923px;
  width:339px;
  height:19px;
}
#u10403_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:321px;
  word-wrap:break-word;
}
#u10403_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u10404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:2px;
}
#u10404 {
  border-width:0px;
  position:absolute;
  left:1397px;
  top:837px;
  width:330px;
  height:1px;
}
#u10404_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:2px;
}
#u10405 {
  border-width:0px;
  position:absolute;
  left:1397px;
  top:905px;
  width:330px;
  height:1px;
}
#u10405_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10406_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10406 {
  border-width:0px;
  position:absolute;
  left:1372px;
  top:722px;
  width:291px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10406_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  word-wrap:break-word;
}
#u10407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:24px;
}
#u10407 {
  border-width:0px;
  position:absolute;
  left:744px;
  top:397px;
  width:233px;
  height:24px;
}
#u10407_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:229px;
  word-wrap:break-word;
}
